*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.contenedor{
    background: #1E204A;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.controles{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
}